---
---

@import "{{ site.theme }}";

html,
body {
	padding: 0;
	margin: 0;
}

div.wrapper {
	position: absolute;
	top: 20px;
	left: 0;

	width: 100%;
}

body {
	font: 14px/1.4 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body.faded {
	pointer-events: none;
	height: 100%;
	overflow: hidden;
}

section {
	border: none !important;
	padding: 0 !important;
}

section#buttons {
	width: 100%;
	text-align: center;
}

section#content {
	position: relative;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	margin-top: 170px;
}
section#loadingwrapper {
	position: fixed;
	top: 50%;
	left: calc(50% - 50px);
}
.tooltip .loadingwrap {
	width: 700px;
	height: 700px;
}
.tooltip .loadingwrap .spinner {
	left: 300px !important;
}

div.spacer {
	position: relative;
	float: left;

	width: 100%;
	height: 200px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bhsection {
	text-align: center;
}

/* Footer */
footer {
	position: fixed;
	z-index: 10;
	left: 0;
	bottom: 0;

	width: 100%;
	height: 60px;

	background-color: white;
	border-top: 1px dashed grey;
}

footer p.footercontent {
	text-align: left;
	padding-top: 8px;
	padding-left: 10px;
}

/* RESPONSIVE */
@media only screen and (max-width: 809px) {
	div.wrapper {
		top: 105px;
	}
	.singular div.snglimagewrapper {
		width: 100%;
		height: initial;

		min-width: initial;
		min-height: initial;
	}
	.singular div.snglimagewrapper div.changelog {
		width: 100%;
	}
}

@media only screen and (min-width: 0px) {
	.tiles {
		margin-top: 245px;
	}
	.activetags, .abovetagswrapper, .belowtw, .singular {
		width: 90%;
		left: 5%;
	}
	.tiles {
		width: 262px;
		left: calc(50% - 131px);
	}
	#topwrapper .insidetw {
		width: 90%;
		left: 5%;
	}
	.insidetw h1 {
		font-size: 30px;
	}
}
@media only screen and (max-width: 323px) {
	.tiles {
		margin-top: 305px !important;
	}
}
@media only screen and (min-width: 324px) and (max-width: 444px) {
	.tiles {
		margin-top: 245px !important;
	}
}
@media only screen and (min-width: 548px) {
	.tiles {
		margin-top: 185px;
	}
	.tiles,	.activetags, .abovetagswrapper, .belowtw, .singular {
		width: 524px;
		left: calc(50% - 262px);
	}
	#topwrapper .insidetw {
		width: 90%;
		left: 5%;
	}
}
@media only screen and (min-width: 810px) {
	.tiles {
		margin-top: 125px;
	}
	.tiles,	.activetags, .abovetagswrapper, .belowtw, .singular {
		width: 786px;
		left: calc(50% - 393px);
	}
	#topwrapper .insidetw {
		width: 80%;
		left: 10%;
	}
	.insidetw h1 {
		font-size: 40px;
	}
}
@media only screen and (min-width: 1072px) {
	.tiles {
		margin-top: 125px;
	}
	.tiles,	.activetags, .abovetagswrapper, .belowtw, .singular {
		width: 1048px;
		left: calc(50% - 524px);
	}
	#topwrapper .insidetw {
		width: 80%;
		left: 10%;
	}
}
@media only screen and (min-width: 1334px) {
	.tiles {
		margin-top: 65px;
	}
	.tiles,	.activetags, .abovetagswrapper, .belowtw {
		width: 1310px;
		left: calc(50% - 655px);
	}
	#topwrapper .insidetw {
		width: 60%;
		left: 20%;
	}
}
@media only screen and (min-width: 1596px) {
	.tiles {
		margin-top: 65px;
	}
	.tiles,	.activetags, .abovetagswrapper, .belowtw {
		width: 1572px;
		left: calc(50% - 786px);
	}
	#topwrapper .insidetw {
		width: 60%;
		left: 20%;
	}
	.insidetw h1 {
		font-size: 60px;
	}
}

/* Topwrapper */
section#topwrapper {
	position: relative;
	width: 100%;
	height: auto;

	top: 30px;
}

#topwrapper .insidetw {
	position: relative;

	margin-bottom: 60px;
}

.insidetw .centered {
	width: 100%;
	text-align: center;
}

.insidetw .serilum {
	position: relative;
	left: calc(50% - 75px);
	margin-bottom: -6px;

	width: 150px;
	text-align: center;
}

.insidetw .uppertitle {
	border-top: 1px solid black;
}

.insidetw p {
	margin: 0;
}

.insidetw span {
	font-weight: bolder;
}

.insidetw .small {
	font-size: 10px;
	font-style: italic;
}

.belowtw {
	position: relative;

	font-size: 18px;
}

/* Shopping cart */
.shoppingwrapper {
	position: fixed;
	z-index: 20;
	top: 19px;
	right: 20px;

	text-align: right;
	pointer-events: none;
}

.shoppingcart {
	position: relative;
	z-index: 20;
	float: right;

	width: 200px;
	height: 50px;

	margin-right: 6px;

	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
	pointer-events: all;
}
.shoppingcart:hover {
	cursor: pointer;
}

.shoppingcart i {
	float: left;
	padding: 8px 8px 8px 14px;

	font-size: 32px;
}

.shoppingcart .collapse {
	position: absolute;
	margin-top: 3px;
	margin-left: 50px;

	font-size: 33px;
}

.shoppingcart p {
	padding: 8px 14px 8px 8px;
	margin-top: 8px;
}

.insidecart {
	position: fixed;
	top: 70px;
	z-index: 21;

	width: 200px;
	height: 280px;

	border: 1px solid black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	pointer-events: all;
	background-color: white;
}

.insidecart .emptywrapper {
	position: fixed;
	top: 20px;
	right: 235px;
}
.insidecart .emptywrapper img {
	width: 48px;
}
.insidecart .emptywrapper img:hover {
	cursor: pointer;
	filter: brightness(110%);
}

.insidecart .inventory {
	position: relative;
	top: 20px;
	left: 10px;

	width: 180px;
	height: 200px;

	border-left: 1px dashed grey;
	border-right: 1px dashed grey;

	text-align: left;
	overflow-x: scroll;
	white-space: nowrap;
	-ms-overflow-style: none;
}
.insidecart .inventory .item {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow:hidden;
}
.insidecart .inventory div {
	margin-top: 1px;
	border-left: 31px solid transparent;

	height: 20px;
	width: 140px;

	overflow-x: scroll;
	white-space: nowrap;
	-ms-overflow-style: none;
}

.insidecart .inventory div img {
	position: absolute;
	margin: 2px 0px 0px -21px;
	
	width: 16px;
	height: 16px;

	margin-right: 5px;
}

.insidecart .explanation {
	padding: 10px;
	height: 100px;

	white-space: initial;
}

.insidecart .addallcartbutton {
	margin: 10px 0px 0px 10%;
	width: 80%;
}
.insidecart .addallcartbutton:hover {
	cursor: pointer;
}

.insidecart .inventory .itemoverlap {
	margin: 2px 0px 0px 0px;
	height: 12px;
	width: 140px;

	pointer-events: none;
}
.insidecart .inventory .itemoverlap p {
	display: inline;

	font-size: 12px;
}
.insidecart .inventory .itemoverlap p#tomodpage {
	float: left;
	margin-left: 5px;
	padding: 0px 5px 0px 5px;

	pointer-events: all;
}
.insidecart .inventory .itemoverlap p#tomodpage:hover {
	cursor: pointer;
	color: white;
	background-color: green;
}
.insidecart .inventory .itemoverlap p#removemod {
	float: right;
	margin-right: 5px;
	padding: 0px 5px 0px 5px;

	pointer-events: all;
}
.insidecart .inventory .itemoverlap p#removemod:hover {
	cursor: pointer;
	color: white;
	background-color: red;
}

/* Hide scrollbars */
.insidecart .inventory::-webkit-scrollbar,
.insidecart .inventory div::-webkit-scrollbar {
	display: none;
}

.insidecart .downloadcartbutton {
	position: fixed;
	right: 51px;
	top: 310px;

	padding: 5px;
	width: 150px;

	font-weight: bolder;

	background-color: white;
	border: 2px solid #009CE4;
}
.insidecart .downloadcartbutton:hover {
	cursor: pointer;
	color: white;
	background-color: #009CE4;
}

/* Tags */
.abovetagswrapper {
	position: relative;
	margin-top: -90px;
}
.abovetagswrapper .stwrapper {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
.abovetagswrapper .buttons {
	display: inline-block;
	position: relative;
	margin-top: 10px;
}
.abovetagswrapper button {
	display: inline-block;

	margin: -5px 5px 5px 0px;
	padding: 5px 10px 5px 10px;

	font-weight: bolder;
}
.abovetagswrapper button#nonebutton {

}
.abovetagswrapper button:hover {
	cursor: pointer;
}
.abovetagswrapper input {
	display: inline-block;

	margin-top: -5px;
	padding-left: 5px;

	height: 24px;
}
.abovetagswrapper input::-webkit-input-placeholder {
	font-weight: lighter;
}
.abovetagswrapper input::-moz-placeholder {
	font-weight: lighter;
}
.abovetagswrapper input::-ms-input-placeholder {
	font-weight: lighter;
}
.abovetagswrapper .title {
	position: relative;
	font-size: 20px;
	margin-top: -25px;
}
.abovetagswrapper p {
	margin: 0;
}
.abovetagswrapper .stwrapper p {
	margin: 6px 0px 8px 0px;
	padding-left: 10px;
	display:inline-block;
}
.abovetagswrapper .stwrapper span.italic {
	font-style: italic;
	font-weight: bold;
}

.activetags {
	position: absolute;
}
.activetags img {
	filter: brightness(110%);
	width: 45px;
	margin: 5px;
}
.activetags img:hover {
	cursor: pointer;
}
.activetags img.inactive {
	filter: brightness(25%);
}

/* Tiles */
.tiles {
	position: absolute;
	height: 100%;

	margin-bottom: 200px;
}

.tiles .col {
	position: relative;
	float: left;
	margin: 6px;
	width: 250px;
	height: 250px;
}
.tiles .col a {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.tiles .col a:nth-child(1) {
	-webkit-clip-path: polygon(0 0, 100% 0, 50% 50%);
	clip-path: polygon(0 0, 100% 0, 50% 50%);
}
.tiles .col a:nth-child(2) {
	-webkit-clip-path: polygon(100% 0, 100% 100%, 50% 50%);
	clip-path: polygon(100% 0, 100% 100%, 50% 50%);
}
.tiles .col a:nth-child(3) {
	-webkit-clip-path: polygon(0 100%, 50% 50%, 100% 100%);
	clip-path: polygon(0 100%, 50% 50%, 100% 100%);
}
.tiles .col a:nth-child(4) {
	-webkit-clip-path: polygon(0 0, 50% 50%, 0 100%);
	clip-path: polygon(0 0, 50% 50%, 0 100%);
}
.tiles .col a:hover {
	z-index: 3;
	-webkit-clip-path: none;
	clip-path: none;
}
.tiles .col a:nth-child(1):hover ~ .box {
	transform: rotateX(180deg);
}
.tiles .col a:nth-child(2):hover ~ .box {
	transform: rotateY(180deg);
}
.tiles .col a:nth-child(3):hover ~ .box {
	transform: rotateX(-180deg);
}
.tiles .col a:nth-child(4):hover ~ .box {
	transform: rotateY(-180deg);
}
.tiles .col a:nth-child(1):hover ~ .box:after, .tiles .col a:nth-child(3):hover ~ .box:after {
	transform: rotateX(-180deg);
}
.tiles .col a:nth-child(2):hover ~ .box:after, .tiles .col a:nth-child(4):hover ~ .box:after {
	transform: rotateY(-180deg);
}
.tiles .col .box {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: "Open Sans", sans-serif;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	transform-style: preserve-3d;
	transition: transform .3s ease-in-out;
}
.tiles .col .box:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-align: right;
	color: #FFF;
	font: normal normal normal 12px/1 FontAwesome;
	font-size: 30px;
	-webkit-text-stroke: 0.5px black;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	border-radius: 2px;
	z-index: 2;
	backface-visibility: hidden;
	paint-order: stroke fill;
	white-space: pre;
}
.tiles .col .box:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	text-align: center;
	background: #333;
	color: #FFF;
	font: normal normal normal 12px/1 FontAwesome;
	font-size: 35px;
	text-shadow: 2px 2px black;
	border-radius: 2px;
	transition-delay: .15s;
	white-space: pre;
}

.tiles .col img.dlshield {
	position: absolute;
	z-index: 101;
	display: block;
}

.tiles .addcart {
	position: relative;
	z-index: 5;
	margin: 185px 0px 0px 0px;
	float: right;
	height: 64px;
	width: 64px;
}
.tiles .addcart img {
	height: 48px;
	width: 48px;
	margin: 8px 0px 0px 8px;
}
.tiles .addcart:hover {
	cursor: pointer;
	filter: brightness(75%);
}
.tiles .addcart.hidden {
	opacity: 0;
	display: none;
}

/* Spinner */

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}

.loading {
	width: 28px;
	height: 28px;
	margin: -14px 0 0 -14px;
	padding: 50px;
}

.loading .spinner {
	position: absolute;
	left: 50px;
	top: 50px;
	width: 26px;
	height: 26px;
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}

.loading .mask {
	width: 12px;
	height: 12px;
	overflow: hidden;
}

.loading .maskedCircle {
	width: 20px;
	height: 20px;
	border-radius: 12px;
	border: 3px solid #666;
}

/* TOASTER */
.toasterwrapper {
	position: fixed;
	right: 38px;
	top: 80px;

	width: 200px;
	height: auto;
}
div.toasterwrapper.offset {
	top: 360px;
}
.toasterwrapper .toast {
	width: 100%;
	height: auto;
	margin: 10px;

	color: white;
	font-size: 14px;
	border-radius: 15px;
	background-color: rgb(46, 184, 46);

	text-align: center;
}
.toasterwrapper .toast p {
	margin: 0;
	padding: 10px;
}

.toasterwrapper .toast .slug {
	font-style: italic;
}

.toasterwrapper .toast .carttoast:hover {
	cursor: pointer;
}

/* Tooltip */
.tooltipwrapper {
	position: fixed;
	z-index: 1001;
	top: 0;
	left: 0;

	width: auto;
	max-width: 700px;
	height: auto;

	background-color: white;
	text-align: center;
	border-radius: 10px;
	border: 1px solid black;

	pointer-events: none;
	overflow: hidden;
}

.tooltipwrapper .tooltip {
	margin: 0;
	padding: 8px 10px 8px 10px;

	font-size: 14px;
	color: black;
}

.tooltipwrapper .tooltip div.description {
	text-align: left;
}
.tooltipwrapper .tooltip div.description img.icon {
	margin: 10px 0px 15px 0px;

	width: 250px;
	height: 250px;
	margin-left: calc(50% - 125px);
}
.tooltipwrapper .tooltip div.description .clickex {
	width: 100%;
	height: 40px;

	border-bottom: 2px dashed black;
}
.tooltipwrapper .tooltip div.description .clickex img {
	display: inline;
	width: 16px;
}
.tooltipwrapper .tooltip div.description .clickex p {
	display: inline-block;
	margin: -10px 0px 0px 0px;
	padding: 0;

	width: 50%;
}
.tooltipwrapper .tooltip div.description .clickex p.left {

}
.tooltipwrapper .tooltip div.description .clickex p.left img {
	position: relative;
	top: 9px;
	margin-right: 8px;
}
.tooltipwrapper .tooltip div.description .clickex p.right {
	text-align: right;
}
.tooltipwrapper .tooltip div.description .clickex p.right img {
	position: relative;
	float: right;
	top: -5px;
	margin-left: 8px;
}


/* SINGULAR */
section#singular {
	position: absolute;
	top: 400px;

	border: 1px solid black;

	margin-bottom: 100px;
}

.singular .jumpwrapper {
	overflow: visible;

	margin-bottom: 10px;
}
.singular .jumpwrapper input {
	padding: 10px 10px 10px 20px;
	width: 250px;

	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border: none;
	border-top: 1px solid grey;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey;
}

.singular .jumpwrapper .resultwrapper {
	position: absolute;
	z-index: 40;
	margin-left: 20px;
	width: 259px;
	height: auto;

	background-color: white;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.singular .jumpwrapper .resultwrapper p {
	margin: 12px 0px 15px 40px;

	font-size: 16px;
	font-weight: bold;
}
.singular .jumpwrapper .resultwrapper p:hover {
	cursor: pointer;
	color: darkgreen;
}
.singular .jumpwrapper .resultwrapper img {
	position: absolute;
	margin: -5px 0px 0px -35px;

	width: 32px;
}

.singular .snglimagewrapper {
	width: 500px;
	height: 500px;
	min-width: 500px;
	min-height: 500px;

	border: 1px solid grey;
}
.singular .snglimagewrapper .changelog {
	position: absolute;
	margin-top: -505px;

	height: 500px;
	width: 500px;
	overflow-y: scroll;

	background-color: rgba(0, 0, 0, 0.65)
}
.singular .snglimagewrapper img {
	width: 100%;
	height: auto;
}
.singular .snglimagewrapper p {
	padding: 20px;
	color: white;
}
.singular .snglimagewrapper a:hover {
	font-weight: normal;
}

.singular .navigation {
	position: relative;
	height: 60px;

	margin-bottom: 20px;

	font-size: 30px;
}
.singular .navigation p {
	margin: 0;
}
.singular .navigation div:hover {
	cursor: pointer;
	color: black;
}
.singular .navigation .left {
	position: absolute;
	z-index: 1;
	left: 0;
}
.singular .navigation .left p {
	position: relative;
}
.singular .navigation .middle {
	position: absolute;
	width: 300px;
	left: calc(50% - 150px);
	text-align: center;
}
.singular .navigation .right {
	position: absolute;
	z-index: 1;
	right: 0;

	text-align: right;
}
.singular .navigation .right p {
	position: relative;
}
.singular .navigation .sub {
	font-size: 12px;
	font-style: italic;
}

.singular .changelognav {
	width: 100%;
	height: auto;
}
.singular .changelognav:hover {
	cursor: pointer;
	color: darkgreen;
}
.singular .changelognav p {
	margin: 0;
	padding: 0px 5px 5px 10px;

	font-weight: bolder;
}
.singular .changelognav img {
	position: relative;
	top: 4px;
	width: 20px;
	margin-right: 5px;
}

.singular #sngltitle {
	margin: 0;
}
.singular .modinfo {
	float: left;
}
.singular .modinfo .subinfo p {
	margin: 0;
}

.singular .modinfo table.subinfo {
	max-width: 500px;
}

.singular .moddownloads {
	float: right;

	margin: 50px 0px 20px 0px;
	padding: 30px;

	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
.singular .moddownloads h1,
.singular .moddownloads p {
	margin: 0;
}

.singular .moddownloads .versiondl {
	font-style: italic;
	padding-left: 5px;
	margin-bottom: -5px;
}

.singular .moddownloads .version {
	margin-top: 20px;
	margin-right: -30px;
	padding: 10px 0px 10px 10px;

	border: 1px solid grey;
}
.singular .moddownloads .version:hover {
	cursor: pointer;
}
.singular .moddownloads .version p:first-child {
	font-weight: bolder;
}
.singular .moddownloads .version p.filename {
	margin-right: 60px;
}
.singular .moddownloads .dlicon {
	position: absolute;
	z-index: 6;

	margin-top: -38px;
	right: 10px;

	width: 40px;
}

.singular #sngldescription {
	display: inline-block;
	width: 100%;

	margin-top: 25px;

	min-height: 600px;
}

.singular #sngldescription img,
.tooltip img {
	display: inline-block;
	width: auto;
	height: auto;
}

/* Download Screen */
.dlscreenwrapper {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	background-color: rgba(0, 0, 0, 0.8);
	pointer-events: all;
	overflow: scroll;
}

.dlscreenwrapper .dlscreen {
	position: fixed;
	z-index: 1001;

	top: calc(20%);
	left: calc(20%);

	height: 60%;
	width: 60%;

	overflow-y: scroll;
	background-color: white;
}

.dlscreenwrapper .dlscreen .closewrapper {
	position: fixed;
	top: calc(20% - 70px);
	right: calc(20% - 45px);
}
.dlscreenwrapper .dlscreen .closewrapper p {
	font-size: 60px;
	color: white;
}
.dlscreenwrapper .dlscreen .closewrapper p:hover {
	cursor: pointer;
	color: black;
}

.dlscreenwrapper .dlscreen .dlcontent {
	width: 94%;
	height: 94%;

	padding: 3%;
}
.dlscreenwrapper .dlscreen .dlcontent p {
	margin: 10px 0px 0px 0px;
	padding: 5px;
	font-size: 15px;
}

.dlscreenwrapper .dlscreen .dlcontent img {
	margin: 15px 0px 0px 0px;

	width: 50%;
	height: auto;

	border: 1px solid black;
}
.dlscreenwrapper .dlscreen .dlcontent p.imagedescription {
	margin: -5px 0px 0px 0px;
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
}

.dlscreenwrapper .dlscreen .dlcontent button {
	margin: 15px 0px 25px 0px;
	width: auto;
	height: 28px;

	color: rgb(66, 66, 66);
	font-weight: bold;
	background-color: white;
	border: 2px solid #009CE4;
}
.dlscreenwrapper .dlscreen .dlcontent button:hover {
	cursor: pointer;
	color: white;
	background-color: #009CE4;
}
.dlscreenwrapper .dlscreen .dlcontent select {
	margin-top: 10px;
	padding: 5px 5px 5px 10px;
	width: 150px;

	color: rgb(66, 66, 66);
	font-weight: bold;
	border: 2px solid #009CE4;
}

.dlscreenwrapper #incompatibles p {
	margin: -10px 0px 0px 0px;
}
.dlscreenwrapper #incompatibles .prefix {
	padding-left: 10px;
	font-weight: bolder;
}
.dlscreenwrapper #incompatibles .suffix {
	font-style: italic;
}