---
---

@import "{{ site.theme }}";

html,
body {
	padding: 0;
	margin: 0;
}

div.wrapper {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
}

body {
	font: 14px/1 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
	border: none !important;
}

section#content {
	position: relative;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}
section#loadingwrapper {
	position: absolute;
	top: 100px;
	left: 5%;
	width: 90%;
}

div.spacer {
	position: relative;
	float: left;
	margin-left: 100vh;

	width: 100%;
	height: 200px;
}

/* Footer */
footer {
	position: fixed;
	left: 0;
	bottom: 0;

	width: 100%;
	height: 60px;

	background-color: white;
}

footer p.footercontent {
	text-align: left;
	padding-top: 8px;
	padding-left: 10px;
}

/* RESPONSIVE */
@media only screen and (min-width: 0px) {
	.tiles {
		width: 262px;
		left: calc(50% - 131px);
	}
	#topwrapper .insidetw {
		width: 90%;
		left: 5%;
	}
}
@media only screen and (min-width: 548px) {
	.tiles {
		width: 524px;
		left: calc(50% - 262px);
	}
	#topwrapper .insidetw {
		width: 80%;
		left: 10%;
	}
}
@media only screen and (min-width: 810px) {
	.tiles {
		width: 786px;
		left: calc(50% - 393px);
	}
	#topwrapper .insidetw {
		width: 70%;
		left: 15%;
	}
}
@media only screen and (min-width: 1072px) {
	.tiles {
		width: 1048px;
		left: calc(50% - 524px);
	}
	#topwrapper .insidetw {
		width: 60%;
		left: 20%;
	}
}
@media only screen and (min-width: 1334px) {
	.tiles {
		width: 1310px;
		left: calc(50% - 655px);
	}
	#topwrapper .insidetw {
		width: 50%;
		left: 25%;
	}
}
@media only screen and (max-width: 1595px) {
	.insidetw h1 {
		font-size: 3vw;
	}
}
@media only screen and (min-width: 1596px) {
	.tiles {
		width: 1572px;
		left: calc(50% - 786px);
	}
	#topwrapper .insidetw {
		width: 40%;
		left: 30%;
	}
	.insidetw h1 {
		font-size: 60px;
	}
}

/* Topwrapper */
section#topwrapper {
	position: relative;
	width: 100%;
	height: auto;

	top: 100px;
}

#topwrapper .insidetw {
	position: relative;
}

.insidetw h1 {
	width: 100%;
	text-align: center;
}

.insidetw p {
	margin: 0;
}

/* Tiles */
.tiles {
	position: absolute;
	height: 100%;

	margin-bottom: 200px;
}

.col {
	position: relative;
	float: left;
	margin: 6px;
	width: 250px;
	height: 250px;
}
.col a {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.col a:nth-child(1) {
	-webkit-clip-path: polygon(0 0, 100% 0, 50% 50%);
	clip-path: polygon(0 0, 100% 0, 50% 50%);
}
.col a:nth-child(2) {
	-webkit-clip-path: polygon(100% 0, 100% 100%, 50% 50%);
	clip-path: polygon(100% 0, 100% 100%, 50% 50%);
}
.col a:nth-child(3) {
	-webkit-clip-path: polygon(0 100%, 50% 50%, 100% 100%);
	clip-path: polygon(0 100%, 50% 50%, 100% 100%);
}
.col a:nth-child(4) {
	-webkit-clip-path: polygon(0 0, 50% 50%, 0 100%);
	clip-path: polygon(0 0, 50% 50%, 0 100%);
}
.col a:hover {
	z-index: 3;
	-webkit-clip-path: none;
	clip-path: none;
}
.col a:nth-child(1):hover ~ .box {
	transform: rotateX(180deg);
}
.col a:nth-child(2):hover ~ .box {
	transform: rotateY(180deg);
}
.col a:nth-child(3):hover ~ .box {
	transform: rotateX(-180deg);
}
.col a:nth-child(4):hover ~ .box {
	transform: rotateY(-180deg);
}
.col a:nth-child(1):hover ~ .box:after, .col a:nth-child(3):hover ~ .box:after {
	transform: rotateX(-180deg);
}
.col a:nth-child(2):hover ~ .box:after, .col a:nth-child(4):hover ~ .box:after {
	transform: rotateY(-180deg);
}
.col .box {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: "Open Sans", sans-serif;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	transform-style: preserve-3d;
	transition: transform .3s ease-in-out;
}
.col .box:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-align: right;
	color: #FFF;
	font: normal normal normal 12px/1 FontAwesome;
	font-size: 30px;
	-webkit-text-stroke: 0.5px black;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	border-radius: 2px;
	z-index: 2;
	backface-visibility: hidden;
	paint-order: stroke fill;
	white-space: pre;
}
.col .box:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	text-align: center;
	background: #333;
	color: #FFF;
	font: normal normal normal 12px/1 FontAwesome;
	font-size: 35px;
	text-shadow: 2px 2px black;
	border-radius: 2px;
	transition-delay: .15s;
	white-space: pre;
}

.col img.dlshield {
	position: absolute;
	z-index: 101;
	display: block;
}

/* Spinner */

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}

.loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 28px;
	height: 28px;
	margin: -14px 0 0 -14px;
}

.loading .spinner {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 26px;
	height: 26px;
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}

.loading .mask {
	width: 12px;
	height: 12px;
	overflow: hidden;
}

.loading .maskedCircle {
	width: 20px;
	height: 20px;
	border-radius: 12px;
	border: 3px solid #666;
}