---
---

@import "{{ site.theme }}";

html,
body {
	padding: 0;
	margin: 0;
}

div.wrapper {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
}

body {
	font: 14px/1.4 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
	border: none !important;
}

section#buttons {
	width: 100%;
	text-align: center;
}

section#content {
	position: relative;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	margin-top: 150px;
}
section#loadingwrapper {
	position: absolute;
	top: 100px;
	left: 5%;
	width: 90%;
}

div.spacer {
	position: relative;
	float: left;

	width: 100%;
	height: 200px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Footer */
footer {
	position: fixed;
	z-index: 5;
	left: 0;
	bottom: 0;

	width: 100%;
	height: 60px;

	background-color: white;
	border-top: 1px dashed grey;
}

footer p.footercontent {
	text-align: left;
	padding-top: 8px;
	padding-left: 10px;
}

/* RESPONSIVE */
@media only screen and (min-width: 0px) {
	.tiles {
		margin-top: 185px;
	}
	.activetags, .abovetagswrapper, .belowtw {
		width: 90%;
		left: 5%;
	}
	.tiles {
		width: 262px;
		left: calc(50% - 131px);
	}
	#topwrapper .insidetw {
		width: 90%;
		left: 5%;
	}
	.insidetw h1 {
		font-size: 40px;
	}
}
@media only screen and (min-width: 548px) {
	.tiles {
		margin-top: 185px;
	}
	.tiles,	.activetags, .abovetagswrapper, .belowtw {
		width: 524px;
		left: calc(50% - 262px);
	}
	#topwrapper .insidetw {
		width: 90%;
		left: 5%;
	}
}
@media only screen and (min-width: 810px) {
	.tiles {
		margin-top: 125px;
	}
	.tiles,	.activetags, .abovetagswrapper, .belowtw {
		width: 786px;
		left: calc(50% - 393px);
	}
	#topwrapper .insidetw {
		width: 80%;
		left: 10%;
	}
}
@media only screen and (min-width: 1072px) {
	.tiles {
		margin-top: 125px;
	}
	.tiles,	.activetags, .abovetagswrapper, .belowtw {
		width: 1048px;
		left: calc(50% - 524px);
	}
	#topwrapper .insidetw {
		width: 80%;
		left: 10%;
	}
}
@media only screen and (min-width: 1334px) {
	.tiles {
		margin-top: 65px;
	}
	.tiles,	.activetags, .abovetagswrapper, .belowtw {
		width: 1310px;
		left: calc(50% - 655px);
	}
	#topwrapper .insidetw {
		width: 60%;
		left: 20%;
	}
}
@media only screen and (min-width: 548px) and (max-width: 1595px) {
	.insidetw h1 {
		font-size: 3.5vw;
	}
}
@media only screen and (min-width: 1596px) {
	.tiles {
		margin-top: 65px;
	}
	.tiles,	.activetags, .abovetagswrapper, .belowtw {
		width: 1572px;
		left: calc(50% - 786px);
	}
	#topwrapper .insidetw {
		width: 60%;
		left: 20%;
	}
	.insidetw h1 {
		font-size: 60px;
	}
}

/* Topwrapper */
section#topwrapper {
	position: relative;
	width: 100%;
	height: auto;

	top: 30px;
}

#topwrapper .insidetw {
	position: relative;

	margin-bottom: 60px;
}

.insidetw .centered {
	width: 100%;
	text-align: center;
}

.insidetw img {
	position: relative;
	left: calc(50% - 75px);
	margin-bottom: -6px;

	width: 150px;
	text-align: center;
}

.insidetw .uppertitle {
	border-top: 1px solid black;
}

.insidetw p {
	margin: 0;
}

.insidetw span {
	font-weight: bolder;
}

.insidetw .small {
	font-size: 10px;
	font-style: italic;
}

.belowtw {
	position: relative;

	font-size: 18px;
}

/* Tags */
.abovetagswrapper {
	position: absolute;
	margin-top: -90px;
}
.abovetagswrapper .stwrapper {
	margin-top: 35px;

	overflow-x: scroll;
	overflow-y: hidden;
	white-space:nowrap
}
.abovetagswrapper .buttons {
	position: absolute;
	margin-top: 10px;
}
.abovetagswrapper button {
	display: inline-block;

	margin: -5px 5px 5px 0px;
	padding: 5px 10px 5px 10px;

	font-weight: bolder;
}
.abovetagswrapper button#nonebutton {

}
.abovetagswrapper button:hover {
	cursor: pointer;
}
.abovetagswrapper input {
	display: inline-block;

	margin-top: -5px;

	height: 24px;
}
.abovetagswrapper .title {
	position: absolute;
	font-size: 20px;
	margin-top: -25px;
}
.abovetagswrapper p {
	margin: 0;
}
.abovetagswrapper .stwrapper p {
	margin: 6px 0px 8px 0px;
	padding-left: 10px;
	display:inline-block;
}
.abovetagswrapper .stwrapper span.italic {
	font-style: italic;
	font-weight: bold;
}

.activetags {
	position: absolute;
}
.activetags img {
	filter: brightness(110%);
	width: 45px;
	margin: 5px;
}
.activetags img:hover {
	cursor: pointer;
}
.activetags img.inactive {
	filter: brightness(25%);
}

/* Tiles */
.tiles {
	position: absolute;
	height: 100%;

	margin-bottom: 200px;
}

.tiles .col {
	position: relative;
	float: left;
	margin: 6px;
	width: 250px;
	height: 250px;
}
.tiles .col a {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.tiles .col a:nth-child(1) {
	-webkit-clip-path: polygon(0 0, 100% 0, 50% 50%);
	clip-path: polygon(0 0, 100% 0, 50% 50%);
}
.tiles .col a:nth-child(2) {
	-webkit-clip-path: polygon(100% 0, 100% 100%, 50% 50%);
	clip-path: polygon(100% 0, 100% 100%, 50% 50%);
}
.tiles .col a:nth-child(3) {
	-webkit-clip-path: polygon(0 100%, 50% 50%, 100% 100%);
	clip-path: polygon(0 100%, 50% 50%, 100% 100%);
}
.tiles .col a:nth-child(4) {
	-webkit-clip-path: polygon(0 0, 50% 50%, 0 100%);
	clip-path: polygon(0 0, 50% 50%, 0 100%);
}
.tiles .col a:hover {
	z-index: 3;
	-webkit-clip-path: none;
	clip-path: none;
}
.tiles .col a:nth-child(1):hover ~ .box {
	transform: rotateX(180deg);
}
.tiles .col a:nth-child(2):hover ~ .box {
	transform: rotateY(180deg);
}
.tiles .col a:nth-child(3):hover ~ .box {
	transform: rotateX(-180deg);
}
.tiles .col a:nth-child(4):hover ~ .box {
	transform: rotateY(-180deg);
}
.tiles .col a:nth-child(1):hover ~ .box:after, .tiles .col a:nth-child(3):hover ~ .box:after {
	transform: rotateX(-180deg);
}
.tiles .col a:nth-child(2):hover ~ .box:after, .tiles .col a:nth-child(4):hover ~ .box:after {
	transform: rotateY(-180deg);
}
.tiles .col .box {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: "Open Sans", sans-serif;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	transform-style: preserve-3d;
	transition: transform .3s ease-in-out;
}
.tiles .col .box:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-align: right;
	color: #FFF;
	font: normal normal normal 12px/1 FontAwesome;
	font-size: 30px;
	-webkit-text-stroke: 0.5px black;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	border-radius: 2px;
	z-index: 2;
	backface-visibility: hidden;
	paint-order: stroke fill;
	white-space: pre;
}
.tiles .col .box:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	text-align: center;
	background: #333;
	color: #FFF;
	font: normal normal normal 12px/1 FontAwesome;
	font-size: 35px;
	text-shadow: 2px 2px black;
	border-radius: 2px;
	transition-delay: .15s;
	white-space: pre;
}

.tiles .col img.dlshield {
	position: absolute;
	z-index: 101;
	display: block;
}

/* Spinner */

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}

.loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 28px;
	height: 28px;
	margin: -14px 0 0 -14px;
}

.loading .spinner {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 26px;
	height: 26px;
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}

.loading .mask {
	width: 12px;
	height: 12px;
	overflow: hidden;
}

.loading .maskedCircle {
	width: 20px;
	height: 20px;
	border-radius: 12px;
	border: 3px solid #666;
}

/* Tooltip */
.tooltipwrapper {
	position: absolute;
	z-index: 1001;
	top: 0;
	left: 0;

	height: 36px;

	background-color: white;
	text-align: center;
	border-radius: 10px;
	border: 1px solid black;

	pointer-events:none
}

.tooltipwrapper .tooltip {
	margin-top: 8px;
	padding: 0px 8px 0px 8px;

	font-size: 14px;
	color: black;
}


/* SINGULAR */
section#singular {
	position: absolute;
	width: 90%;
	top: 400px;
	left: 5%;

	border: 1px solid black;
}

.singular #snglimage {
	width: 500px;
}

.singular .navigation {
	position: relative;
	height: 60px;

	font-size: 22px;
}
.singular .navigation p:hover {
	cursor: pointer;
	color: black;
}
.singular .navigation .left {
	position: absolute;
	z-index: 1;
	left: 0;
}
.singular .navigation .middle {
	position: absolute;
	width: 100%;
	text-align: center;
}
.singular .navigation .right {
	position: absolute;
	z-index: 1;
	right: 0;
}

.singular .modinfo {
	float: left;
}
.singular .modinfo .subinfo p {
	margin: 0;
}

.singular .moddownloads {
	float: right;

	margin: 50px 0px 20px 0px;
	padding: 30px;

	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
.singular .moddownloads p {
	margin: 0;
}

.singular .moddownloads .version {
	margin-top: 20px;
	margin-right: -30px;
	padding: 10px 0px 10px 10px;

	border: 1px solid grey;
}
.singular .moddownloads .version:hover {
	cursor: pointer;
}
.singular .moddownloads .version p:first-child {
	font-weight: bolder;
}
.singular .moddownloads .version p.filename {
	margin-right: 60px;
}
.singular .moddownloads .dlicon {
	position: absolute;
	z-index: 6;

	margin-top: -38px;
	right: 10px;

	width: 40px;
}

.singular #sngldescription {
	display: inline-block;
	width: 100%;

	margin-top: 25px;
}