<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Serilum's CurseForge Mods</title>
		<link rel="shortcut icon" href="favicon.ico">
		{% seo %}
		<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
		<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="wrapper">
			<section id="topwrapper">
				<div class="insidetw">
					<h1 class="centered">Serilum's CurseForge Mods for Minecraft</h1>
					<p class="centered">The collection currently consists of <span id="totalmods">...</span> mods, for a total of <span id="totaldownloads">...</span>* downloads.</p>
					<p class="small centered">* Download counts are dependent on the Forge API and may not be entirely up-to-date.</p>
				</div>
			</section>

			<section id="inlinestyle"></section>
			<section id="content" hidden></section>
			<section id="loadingwrapper">
				<div id="load" class="loading">
					<div class="spinner">
						<div class="mask">
							<div class="maskedCircle"></div>
						</div>
					</div>
				</div>
			</section>
			<footer>
				<p class="footercontent">
					<small>Created by <a href="https://south.fyi/" target=_blank>Rick South</a>.<br>
					<small>Hosted on <a href="https://pages.github.com/" target=_blank>GitHub Pages</a>, <a href="https://github.com/ricksouth/minecraft.natamus.com/" target=_blank>source</a>.
				</p>
			</footer>
		</div>
		<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
	</body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.waitforimages/1.5.0/jquery.waitforimages.min.js"></script>	
	<script type="text/javascript" src="/assets/js/script.js"></script>
</html>
