<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="favicon.ico">
		{% seo %}
		<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
		<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<div class="wrapper">
			<header>
				<h1><a href="https://jmh.natamus.com/">Just Mob Heads</a></h1>
				<p>A minimalistic Minecraft mod that adds a configurable chance for mobs to drop their heads on death. Vanilla resources only.</p>
				<p class="view"><a href="https://minecraft.curseforge.com/projects/just-mob-heads" target=_blank>Download the mod on Forge <small>minecraft.curseforge.com/projects/just-mob-heads</small></a></p>
				<p class="view"><a href="https://youtu.be/placeholder" target=_blank>How to install the additional textures <small>youtu.be/placeholder</small></a></p><br>
				<p><b>Feel free to contribute!</b><br>
				The additional resources are still a work in progress. If you'd like to see a/your mod added to the list, feel free to submit a <a href="https://github.com/natamus/jmh-web/pulls" target=_blank>Pull request</a> if you're familiar with the <a href="https://github.com/natamus/jmh-web/tree/master/data" target=_blank>JSON structure</a> or an <a href="https://github.com/natamus/jmh-web/issues" target=_blank>issue</a> if you're unsure how to contribute. An in-depth tutorial on how to contribute will be released soon.</p>
				<p class="view"><a href="https://youtu.be/placeholder" target=_blank>How to contribute more textures <small>youtu.be/placeholder</small></a></p>
			</header>
			
			<section id="content"></section>

			<footer>
				<p class="footercontent">
					<small>Created by <a href="https://south.fyi/" target=_blank>Rick South</a>.<br>
					<small>Hosted on <a href="https://pages.github.com/" target=_blank>GitHub Pages</a>, <a href="https://github.com/natamus/jmh-web" target=_blank>source</a>.
				</p>
			</footer>
		</div>
		<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
	</body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/assets/js/script.js"></script>
</html>